.products {
	width: 100%;
	height: 1098px;
	background-image: url(../../images/product_img.png);
	// background-position: 0 100px;
	background-repeat: no-repeat;
}

.products-title {
	text-align: center;
	margin: 58px 0;
	padding-bottom: 50px;
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 85px;
	color: #07484a;
}

.products-list {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px 0px 150px;
	overflow-x: scroll;
	padding-bottom: 54px;
	gap: 32px;
	z-index: 100;
}

::-webkit-scrollbar {
	height: 4px;
	border: 2px solid #07484a;
}

::-webkit-scrollbar-track {
	background: #07484a;
}

::-webkit-scrollbar-thumb {
	border: 12px solid #70908b;
}

.products-item {
	width: 430.75px;
	height: 585px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 60px 40px;
	border-radius: 16px;
}

.products-item img {
	width: 204px;
	height: 270px;
}

.products-item h4 {
	margin-top: 40px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #70908b;
}

.products-item p {
	margin-top: 5px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #70908b;
}

.products-item span {
	padding-top: 15px;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	margin: 0;
	color: #70908b;
}

.products-item:nth-child(1) {
	background-color: #caf3e5;
}

.products-item:nth-child(2) {
	background-color: #e0eff6;
}

.products-item:nth-child(3) {
	background-color: #eeebff;
}

.products-item:nth-child(4) {
	background-color: #fff4e7;
}

.products-item:nth-child(5) {
	background-color: #ebbb80;
}

.products-item:nth-child(6) {
	background-color: #a7f599;
}

.products-btn {
	position: absolute;
	right: 50px;
}

.up-arrow {
	padding-top: 20px;
	border: none;
	background-color: transparent;
	margin-right: 24px;
	cursor: pointer;
}

.down-arrow {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.products-button {
	padding: 24px 20px;
	text-align: center;
	background: #70908b;
	border-radius: 10px;
	border: none;
	margin-top: 114px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.products-button:hover {
	opacity: 75%;
}

@include breackpoint-down(1024px) {
	.products-list {
		padding: 0px 0px 0px 20px;
		gap: 32px;
		padding-bottom: 100px;
	}

	.products {
		background-image: url(../../images/product_laptop.png);
		background-repeat: no-repeat;
		height: 909px;
	}

	.products-item {
		width: 416px;
	}

	.products-btn {
		display: none;
	}
}

@include breackpoint-down(668px) {
	.products {
		background-image: url(../../images/products_mobile.png);
		background-repeat: no-repeat;
		background-position: 0px 100px;
		// width: 365px;
		height: 634px;
	}

	.products-title {
		margin-bottom: 5px;
		font-size: 40px;
	}

	.products-item {
		width: 237px;
		height: 340px;
	}

	.products-item img {
		width: 89px;
		height: 100px;
	}

	.products-item h4 {
		font-weight: 700;
		font-size: 16px;
		line-height: 23px;
	}

	.products-item p {
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
	}

	.products-item span {
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
	}

	.products-button {
		padding: 18px 15px;
	}
}

@include breackpoint-down(400px) {
	.products-title {
		font-weight: 700;
		font-size: 28px;
		line-height: 42px;
		margin-bottom: 60px;
	}
}
